body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  height: 5rem;
  width: 100%;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  line-height: 5rem;
}

.footer {
  height: 5rem;
  width: 100%;
  background-color: #0000ff;
  color: #fff;
  text-align: center;
  line-height: 5rem;
}

.container {
  display: flex;
}

.content {
  width: 70%;
  height: 5rem;
  padding: 3rem 0;
  background-color: #00ff00;
  color: #000;
  text-align: center;
}

.sidebar {
  width: 30%;
  padding: 3rem 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}
